body {
  font-style: italic;
  margin-left: 23px;
  background-color: lightgrey;
}

h1 {
  font-size: 44px;
  margin-left: 273px;
}
.brandAndSize {
  margin-left: 301px;
}

h2 {
  font-size: 30px;
  margin-top: 8px;
  margin-left: 361px;
}

.Shoes {
  margin-left: 333px;
  display: none;
  margin-top: 34px;
}
#allStock {
  margin-left: 428px;
  margin-top: 30px;
}

h3 {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 70px;
}


#display {
  margin-left: 257px;
}

.name {
  margin-left: 72px;
}

#addButton {
  margin-left: 97px;
}


.message {
  margin-left: 268px;
  margin-top: 12px;
}

.msg {
  margin-left: 458px;
  margin-top: 26px;
}
.Shoes{
}
.btn{
    margin-left: 410px
}
