
#display {
  margin-left: 190px;
}

h2 {
  margin-left: 76px;
}

h3 {
  margin-left: 52px;
}

.brandAndSize {
  margin-left: 150px;
}

#allStock {
  margin-left: 251px;
}

#addButton {
  margin-left: 77px;
  margin-top: 4px;
}
